app/code/local/Dwd/Icd/etc/ICD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://kunden.dwd.de/dwdshop/services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://kunden.dwd.de/dwdshop/services" name="LdapService">
<types>
<xsd:schema>
<xsd:import namespace="https://kunden.dwd.de/dwdshop/services" schemaLocation="LdapService.xsd"/>
</xsd:schema>
</types>
<message name="addUserGroupsAttibuteNameValuePairs">
<part name="parameters" element="tns:addUserGroupsAttibuteNameValuePairs"/>
</message>
<message name="addUserGroupsAttibuteNameValuePairsResponse">
<part name="parameters" element="tns:addUserGroupsAttibuteNameValuePairsResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="addAttributeNameValuePair">
<part name="parameters" element="tns:addAttributeNameValuePair"/>
</message>
<message name="addAttributeNameValuePairResponse">
<part name="parameters" element="tns:addAttributeNameValuePairResponse"/>
</message>
<message name="removeAttributeNameValuePair">
<part name="parameters" element="tns:removeAttributeNameValuePair"/>
</message>
<message name="removeAttributeNameValuePairResponse">
<part name="parameters" element="tns:removeAttributeNameValuePairResponse"/>
</message>
<message name="setPasswordUser">
<part name="parameters" element="tns:setPasswordUser"/>
</message>
<message name="setPasswordUserResponse">
<part name="parameters" element="tns:setPasswordUserResponse"/>
</message>
<message name="removeGroup">
<part name="parameters" element="tns:removeGroup"/>
</message>
<message name="removeGroupResponse">
<part name="parameters" element="tns:removeGroupResponse"/>
</message>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="addGroup">
<part name="parameters" element="tns:addGroup"/>
</message>
<message name="addGroupResponse">
<part name="parameters" element="tns:addGroupResponse"/>
</message>
<portType name="LdapService">
<operation name="addUserGroupsAttibuteNameValuePairs">
<input wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/addUserGroupsAttibuteNameValuePairsRequest" message="tns:addUserGroupsAttibuteNameValuePairs"/>
<output wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/addUserGroupsAttibuteNameValuePairsResponse" message="tns:addUserGroupsAttibuteNameValuePairsResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="addAttributeNameValuePair">
<input wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/addAttributeNameValuePairRequest" message="tns:addAttributeNameValuePair"/>
<output wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/addAttributeNameValuePairResponse" message="tns:addAttributeNameValuePairResponse"/>
</operation>
<operation name="removeAttributeNameValuePair">
<input wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/removeAttributeNameValuePairRequest" message="tns:removeAttributeNameValuePair"/>
<output wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/removeAttributeNameValuePairResponse" message="tns:removeAttributeNameValuePairResponse"/>
</operation>
<operation name="setPasswordUser">
<input wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/setPasswordUserRequest" message="tns:setPasswordUser"/>
<output wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/setPasswordUserResponse" message="tns:setPasswordUserResponse"/>
</operation>
<operation name="removeGroup">
<input wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/removeGroupRequest" message="tns:removeGroup"/>
<output wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/removeGroupResponse" message="tns:removeGroupResponse"/>
</operation>
<operation name="removeUser">
<input wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/removeUserResponse" message="tns:removeUserResponse"/>
</operation>
<operation name="addGroup">
<input wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/addGroupRequest" message="tns:addGroup"/>
<output wsam:Action="https://kunden.dwd.de/dwdshop/services/LdapService/addGroupResponse" message="tns:addGroupResponse"/>
</operation>
</portType>
<binding name="LdapServiceImplPortBinding" type="tns:LdapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addUserGroupsAttibuteNameValuePairs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAttributeNameValuePair">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAttributeNameValuePair">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPasswordUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LdapService">
<port name="LdapServiceImplPort" binding="tns:LdapServiceImplPortBinding">
<soap:address location="https://kunden.dwd.de:443/dwdshop/services/LdapService"/>
</port>
</service>
</definitions>